{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:vue/recommended",
    "@vue/airbnb",
    "@vue/prettier"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off"
  }
}
