* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background: var(--color-primary);
  color: var(--color-white);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: var(--color-secondary);
  background-attachment: fixed;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  position: relative;

  @media (--dark-mode) {
    background-image: none;
  }
}

p:empty {
  display: none;
}

main {
  flex: 1 1 auto;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    z-index: -1;
  }

  &::after {
    border-right: 25vw solid transparent;
    border-top: 25vw solid var(--color-secondary);
    width: 1em;
    height: 1em;
  }

  &::before {
    width: 25vw;
    height: 25vw;
    background: repeating-linear-gradient(-45deg, transparent, transparent 19px, #c5c5c5 19px, #c5c5c5 21px);
  }
}

#app {
  background: #2f2e3e;
  color: #fff;
}

h1 {
  color: var(--color-primary);
}

#__SVG_SPRITE_NODE__ {
  display: none;
}
