* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

::selection {
  background: var(--primary-color);
  color: var(--white);
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: var(--white);
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  overflow-x: hidden;
}

p:empty {
  display: none;
}

main {
  flex: 1 1 auto;
}
