:root {
  --font-size-base: 18px;
  --font-family-base: 'Skoda Next', sans-serif;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-family-header: 'Filmotype Lucky', sans-serif;
}
