button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
  text-decoration: none;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration-skip: auto;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  text-align: center;
  font-weight: var(--font-weight-bold);
  border-radius: 0.25em;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 0.75em 0.5em;
  font-family: var(--font-family-headings);
  transition: background-color 0.1s ease-in-out;
  border: 2px solid transparent;
  background: var(--white);
  color: var(--text-color);
  &:hover {
    background: var(--primary-color);
    color: var(--white);
  }

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    background: transparent;
    color: var(--white);
    border: 2px dashed var(--white);

    &:hover {
      background: transparent;
    }
  }

  &.btn-primary {
    background: var(--primary-color);
    color: var(--white);

    &:hover {
      background: var(--primary-color-dark);
    }
  }

  &.btn-ghost {
    background: transparent;
    color: var(--white);
    border: 2px solid var(--white);

    &:hover {
      background: var(--white);
      color: var(--text-color);
    }
  }
}
